<div class="col-xs-12 icon-container add-medicine-icon-align">
    <div class="circle icon-center bg-pink">
        <p class="icon-text">a</p>
    </div>
    <p class="icon-desc">ADD MORE</p>
</div>
<!--div ends for icon-container-->

<div class="col-xs-12 required-days">
    <h3 class="text">I want my medicine for</h3>
</div>

<div class="col-xs-12 required-days">
    <h1 class="text span-days">24<span class="span-days">days</span></h1>
</div>

<div class="col-xs-12 icon-container icon-align">
    <div class="col-xs-10 col-xs-offset-1" id="slider">

    </div>
    <!--Div for slider -->
</div>
<!--div ends for icon container-->


<div class="col-xs-12">
    <!--Prescription Image Start Here-->
    <div class="col-xs-10 col-xs-offset-1 prescription-pic-container">
        <div class="col-xs-12 prescription-pic-div">
            <!--Presccription Pic Start Here-->
            <span class="glyphicon glyphicon-remove remove-glyphicon"></span>
            <img class="prescription-pic" src="../images/10670-c_96_1.jpg" />

        </div>
        <!--Prescription Pic End Here-->
        <div class="col-xs-12 prescription-notes">
            <!--Notes Start Here-->
            <!--<div class="col-xs-12 add-note"><span class="span-add-note">+</span><span>ADD NOTE</span></div>-->
            <textarea rows="4" cols="50" placeholder="ADD NOTE +"></textarea>
        </div>
        <!--Notes end here-->
    </div>

</div>
<!--Prescription Image End Here-->

<div class="col-xs-12 icon-container add-medicine-icon-align">
    <div class="circle icon-center bg-peterRiver">
        <p class="icon-text">o</p>
    </div>
    <p class="icon-desc">ORDER NOW</p>
</div>
<!--div ends for icon-container-->